# Logs e arquivos temporários
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3-journal
media/

# Bancos de dados SQLite
escola_api_drf/db.sqlite3
galeria/db.sqlite3
tutorialrest/db.sqlite3

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Diretórios de ambiente virtual
escola_api_drf/env/
gal/
rest/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos específicos de pacotes Python
.Python
*.egg-info/
.installed.cfg
*.egg

# Relatórios de cobertura de testes
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Arquivos do Django
escola_api_drf/static/
galeria/static/
tutorialrest/static/
escola_api_drf/media/
galeria/media/
tutorialrest/media/

# Arquivos e diretórios de IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos do Sphinx (documentação)
docs/_build/

# Arquivos temporários do PyInstaller
*.spec
*.manifest

# Arquivos do pipenv, poetry e pdm
Pipfile.lock
poetry.lock
pdm.lock
.pdm.toml

# Arquivos do Celery
celerybeat-schedule
celerybeat.pid

# Diretórios específicos do seu projeto Django
escola_api_drf/__pycache__/
galeria/__pycache__/
locallibrary/__pycache__/
tutorialrest/__pycache__/
